<% include ../partials/header %>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Yelp Camp</p>
            <div class="list-group">
                <li class="list-group-item active">Info1</li>
                <li class="list-group-item">Info2</li>
                <li class="list-group-item">Info3</li>
            </div>
            Insert MAP
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                    <img class="img-fluid" src="<%= campground.image%>">
                    <div class="caption">
                        <% if(campground.rate != 0) { %>
                            <h4 class="float-right">$<%= campground.rate %>/night</h4>
                        <% } else { %>
                            <h4 class="float-right text-success">FREE</h4>
                        <% } %>
                        <h4><%= campground["name"] %></h4>
                        <p><%= campground.desc %></p>
                        <p><em>Submitted By <%= campground.author.username %></em></p>

                        <% if(currentUser && campground.author.id.equals(currentUser._id) ) { %>
                            <a class="btn btn-sm btn-warning" href="/campgrounds/<%= campground._id %>/edit" style="margin-right: 10px;">Edit</a>
                            <a class="btn btn-sm btn-danger" href="/campgrounds/<%= campground._id %>/delete">Delete</a>
                        <% } %>
                    </div>
            </div>
            <div class="card" style="background-color: #D7D8D6; padding: 15px;">
                <div class="text-right">
                        <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add comment</a>
                </div>

                <hr>

                <% campground.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                                <strong><%= comment.author.username %></strong>
                                <span class="float-right">10 days ago</span>
                                <p><%= comment.text %></p>
                                <% if(currentUser && comment.author.id.equals(currentUser._id) ) { %>
                                    <div class="row">
                                        <a class="btn btn-sm btn-warning py-1" href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit"  style="margin-left: 17px; margin-right: 10px;">Edit</a>
                                        <form action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE"  method="POST">
                                            <input class="btn btn-sm btn-danger py-1" type="submit" value="Delete">
                                        </form>
                                    </div>
                                <% } %>
                        </div>
                    </div>
                    
                <% }); %>
            </div>

        </div>
    </div>
</div>
    

<% include ../partials/footer %>